body {
    background-color: rgb(25, 25, 25);
    color: #FFF;
    font-family: Arial, sans-serif;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.move-icon {
    height: 50px;
}

.move-button {
    background-color: transparent;
    border: 3px solid #fff;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    margin-right: 10px;
    cursor: pointer;
}

.result {
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
}

.score {
    margin-top: 60px;
}

#rBtn,
.auto-play-button {
    padding: 8px 15px;
    cursor: pointer;
    background-color: #ffffff;
    border: 0;
    font-size: 15px;
}
