html {
    font-family: Arial, sans-serif;
}

.todo-grid,
.todo-input-grid{
    display: grid;
    align-items: center;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
}

.todo-input-grid {
    margin-bottom: 10px;
}

.name-input,
.due-date-input{
    font-size: 15px;
    padding: 6px;
}

.add-todo-button {
    font-size: 15px;
    border: 0;
    background-color: green;
    color: #fff;
    padding: 10px 0;
    cursor: pointer;
}

.delete-todo-button {
    font-size: 15px;
    border: 0;
    background-color: darkred;
    color: #fff;
    cursor: pointer;
    padding: 10px 0;
}